@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --main-color: #ff6666;
    --main-color-1: #f55250;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    transition: all 0.35s ease;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    background: var(--bg-black-900);
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

/* player */
img {
    height: 100%;
    width: 100%;
}

h1 {
    color: var(--text-black-900);
    text-transform: uppercase;
    font-size: 0.8rem;
}

.audio-img-wrapper {
    padding-top: 0.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.audio-img {
    width: 150px;
    height: 150px;
    border: 6px solid var(--main-color);
    border-radius: 100%;
    text-align: center;
}

.audio-img img {
    border-radius: 100%;
}

h2 {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--text-black-700);
    text-transform: capitalize;
}

h6 {
    font-size: 0.8rem;
    margin-top: 0;
    font-weight: 400;
    color: var(--text-black-900);
}

.audio-progress {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.progress {
    grid-column: 1 / -1;
    margin-bottom: 0.8rem;
    text-align: center;
    background-color: var(--bg-black-900);
    height: 0.4rem;
    border-radius: 0.8rem;
    cursor: pointer;
    position: relative;
}

.progress-head {
    z-index: 2;
}

.progress-bar {
    background-color: var(--text-black-900);
    height: 100%;
    position: relative;
    width: 0%;
    border-radius: 0.5rem;
}

.current-time {
    color: var(--text-black-700);
    font-size: 0.8rem;
    text-align: left;
    margin-left: 0.5rem;
}

.duration {
    color: var(--text-black-700);
    font-size: 0.8rem;
    text-align: end;
    margin-right: 0.5rem;
}

.audio-btns {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.btn {
    cursor: pointer;
    border: unset;
    box-shadow: unset;
    background-color: unset;
    font-size: 1rem;
    color: var(--text-black-900);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}